<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="./src/Views/Ping-Pong/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Ping Pong Online Gaming Hosted and Managed by AbhieShinde"/>
    <link rel="apple-touch-icon" href="./src/Views/Ping-Pong/logo.png" />
    <link rel="manifest" href="./src/Views/Ping-Pong/manifest.json" />
    <title>Ping Pong | AbhieShinde</title>
  </head>
  <body>
    <style>
      body {
        background-image: url('./src/Views/Ping-Pong/assets/dirt.png');
      }
      canvas {
        display: block;
        margin: auto;
        position: absolute;
        top:0;right:0;bottom:0;left:0;
        box-shadow: 0 0 36px rgba(0, 0, 0, 0.25);
      }
    </style>
    <script src="./src/Views/Ping-Pong/js/vector2.js"></script>
    <script src="./src/Views/Ping-Pong/js/canvas.js"></script>
    <script src="./src/Views/Ping-Pong/js/assets.js"></script>
    <script src="./src/Views/Ping-Pong/js/ball.js"></script>
    <script src="./src/Views/Ping-Pong/js/paddle.js"></script>
    <script src="./src/Views/Ping-Pong/js/game.js"></script>
    <script src="./src/Views/Ping-Pong/js/keyboard.js"></script>
    <script src="./src/Views/Ping-Pong/js/reset.js"></script>
    <script src="./src/Views/Ping-Pong/js/update.js"></script>
    <script src="./src/Views/Ping-Pong/js/render.js"></script>
    <script src="./src/Views/Ping-Pong/js/main.js"></script>
  </body>
</html>
