<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="./src/Views/Crossy-Road/logo.jpg" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Crossy Road Online on AbhieShinde.Tech"/>
  <link rel="apple-touch-icon" href="./src/Views/Crossy-Road/logo.png" />
  <link rel="manifest" href="./src/Views/Crossy-Road/manifest.json" />

  <title>Crossy Road Online | AbhieShinde</title>
  <link rel="stylesheet" href="./src/Views/Crossy-Road/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="counter">0</div>
    
<div id="controlls">
  <div>
    <button id="forward">
      <svg width="30" height="30" viewBox="0 0 10 10">
        <g transform="rotate(0, 5,5)">
          <path d="M5,4 L7,6 L3,6 L5,4" />
        </g>
      </svg>
    </button>
    <button id="left">
      <svg width="30" height="30" viewBox="0 0 10 10">
        <g transform="rotate(-90, 5,5)">
          <path d="M5,4 L7,6 L3,6 L5,4" />
        </g>
      </svg>
    </button>
    <button id="backward">
      <svg width="30" height="30" viewBox="0 0 10 10">
        <g transform="rotate(180, 5,5)">
          <path d="M5,4 L7,6 L3,6 L5,4" />
        </g>
      </svg>
    </button>
    <button id="right">
      <svg width="30" height="30" viewBox="0 0 10 10">
        <g transform="rotate(90, 5,5)">
          <path d="M5,4 L7,6 L3,6 L5,4" />
        </g>
      </svg>
    </button>
  </div>
</div>

<div id="end">
  <button id="retry">Retry</button>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/99/three.min.js'></script><script  src="./src/Views/Crossy-Road/script.js"></script>

</body>
</html>
