<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="./src/Views/Home/logo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Browser based Games for all your Devices. Hosted and Managed by AbhieShinde"/>
  <link rel="apple-touch-icon" href="./src/Views/Home/logo.jpg" />
  <link rel="manifest" href="./src/Views/Home/manifest.json" />
  <title>Gaming Online by AbhieShinde</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./src/Views/Home/style.css">

</head>
<body>

<div class="overlay-navigation">
  <nav role="navigation">
    <ul>
      <li><a href="crossy-road" data-content="Arcade 2D Video Game">Crossy Road</a></li>
      <li><a href="spacebar-tower" data-content="Place the Blocks and build the highest Tower">Spacebar Tower</a></li>
      <li><a href="ping-pong" data-content="Funny Multiplayer">Ping Pong</a></li>
      <li><a href="" data-content="Comming Soon">Comming Soon</a></li>
      <li><a href="mailto:shindea890@gmail.com" data-content="shindea890@gmail.com">Suggest Yours</a></li>
    </ul>
  </nav>
</div>

<section class="home">
    <a href="" target="_blank">Gaming Online By AbhieShinde</a>
  <div class="open-overlay">
    <span class="bar-top"></span>
    <span class="bar-middle"></span>
    <span class="bar-bottom"></span>
  </div>
</section>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js'></script><script  src="./src/Views/Home/script.js"></script>

</body>
</html>
